*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: #fefefe;
}
header{
    width: 100%;
    height: 80px;
    background: #6F7BD9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
header .logo{
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}
header .hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color: #11101b;
    background: #fefefe;
}
.nav-bar ul li a.active{
    color: #11101b;
    background: #fefefe;
}

/* section listes */
.titre{
    background: #6F7BD9;
    color: #fefefe;
}
.t-container{
    padding: 100px;
}
.t-container h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.t-container input{
    display: flex;
    width: 40%;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
}

/* fin section listes */


/* gérer à chaque taille d'écran */
/* quand la taille de l'écran est à 1320px */
@media only screen and (max-width: 1320px) {
    header{
        padding: 0 50px;
    }
}

/* quand l'écran est à 1100px */
@media only screen and (max-width: 1100px) {
    header{
        padding: 0 30px;
    }
}

/* quand l'écran est à 900px */
@media only screen and (max-width: 900px) {
    header .hamburger{
        display: block;
        cursor: pointer;
    }
    header .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden; 
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
    /* section liste */
    .t-container .cards{
        flex-direction: column;
    }
    /* fin section liste */
}
/* fin du gère */
